# Dependencies
node_modules/

# IDE - VSCode
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# K6 specific
k6-report.html
k6-summary.json

# Environment
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Temporary files
*.tmp
*.temp
.cache/